<h3>Completed Tasks</h3>
  <% @goal.get_completed_tasks.each do |t|%>
  <div class="well task-div">
    <p><span class="label label-success"><%= t.current_state.name.to_s.humanize %></p>
    <p><strong><%="Name: #{t.name} "%></strong><br /><span><%= "Description: #{t.description}"%></span></p>

    <%= link_to "Complete", complete_task_path(:id => t.id), :remote => true , :class => 'btn btn-success' if t.in_progress?%>

    <%= link_to "View Task", task_path(t), :remote => true , :class => 'btn btn-success'%>
  </div>
  <%end%>