<%= form_for @task, :html => { :class => 'form-horizontal', :id => 'new_task_submit'}, :remote => true do |f| %>
<%= f.hidden_field :goal_id,  :value => @goal.id  %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :completion_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :completion_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :start_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :money_available, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :money_available, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
